/* Estilo para o contêiner principal */
.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
  }

.leftContainer {
    width: 40%;
    text-align: left;
}

/* Estilo para o título */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
     /* Adicione esta linha para definir a cor do título */
  }

/* Estilo para o contêiner de entrada de nome */
.inputContainer,
.shuffleButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

/* Estilo para a entrada de nome */
.myInput {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
    position: relative;

}

/* Estilo para o botão de adicionar nome */
.addButton {
    background-color: rgb(22 163 74);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 10px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #5cb85c;
}

/* Estilo para botão remover nomes*/
.removeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 4px 8px;
    font-size: 6px;
    cursor: pointer;
}

.removeButton:hover {
    background-color: #cc0000;
    /* Cor de fundo vermelha mais escura ao passar o mouse */
}

/* Estilo para o contêiner de botão de sorteio */
.shuffleButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilo para o botão de sorteio */
.shuffleButton {
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.shuffleButton:hover {
    background-color: #286090;
}


/* Estilo para o contêiner dos times */
.teamContainer {
    display: flex;
    justify-content: space-around;
    color: black; /* Adicione esta linha para definir a cor do texto nos times */
  }
/* Estilo para cada time */
.team {
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    color: black; /* Adicione esta linha para definir a cor do texto nos times */
  }

.configContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.rightConteiner {
    width: 50%
}

.whiteText {
    color: white;
}

.inputText {
    color: black;
    /* Cor preta para o texto digitado */
}

.inputText::placeholder {
    color: white;
    /* Cor branca para o placeholder */
    opacity: 0.7;
    /* Ajuste a opacidade conforme necessário */
}