@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Arquivo globals.css */

/* Importe o arquivo de imagem usando a função url() */
/* Arquivo globals.css */
/* Arquivo globals.css */





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}
