@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Arquivo globals.css */

/* Importe o arquivo de imagem usando a função url() */
/* Arquivo globals.css */

body {
  /* Caminho para a imagem no diretório public */
  background-image: url('../app/components/8642bc64-ab91-4c1c-91cc-328a8410757b.jfif');
  /* Redimensiona a imagem para cobrir todo o elemento */
  background-size: 100px; /* Ou defina a largura e a altura desejadas, ex: 100px 50px; */
  /* Evita que a imagem se repita */
  background-repeat: no-repeat;
  /* Mantém a imagem fixa enquanto a página rola */
  background-attachment: fixed;
  /* Define a posição da imagem no canto superior direito */
  background-position: top right;
  /* Outros estilos de fundo, como cor de fundo de fallback: */
  background-color: #f0f0f0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}
